.header {
    display: flex;
    height: 300px;
    justify-content: center;
    background-color: red;
    align-items:center;
    color: white;
}
.footer {
    text-align: center;
    background-color: darkred;

}
.container {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 640px;
}

.element {
    text-align: left;
    width: 300px;
    height: 100px;
    background-color: rosybrown;
    margin: 10px;
}